/*dashboard page*/
.menuBar {
  display: block;
  float: top;
  background-color: #fb8f02;
}

.logo {
  text-align: left;
  float: left;
  display: inline-grid;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #5b91e3;
  font-family: arial;
  color: white;
  list-style: none;
}

/*refers to "log out" and "dashboard" buttons */
.rightAlign {
  display: block;
  font-family: arial;
  list-style: none;
  float: right;
  text-align: right;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #7eacf2;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
}

.rightAlign:hover {
  background-color: #5b91e3;
}

/*stat box*/
.statBox {
  margin-top: 85px;
  display: box;
  font-family: arial;
  float: left;
  text-align: center;
  background-color: #f9f6f1;
  padding: 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50px;
  height: 10px;
  border-radius: 5px;
  position: relative;
  margin-right: -50px;
  box-shadow: 0 2px #b2b2b2;
}

.redStat {
  margin-right: 10px;
  text-align: center;
  color: #c10b0b;
}

.orangeStat {
  margin-right: 10px;
  text-align: center;
  color: #f2a208;
}

.greenStat {
  margin-right: 10px;
  text-align: center;
  color: #34b62f;
}

/*buttons with cohort names*/
.cohortButton {
  display: box;
  margin-right: 50px;
  margin-top: 100px;
  float: left;
  background-color: #ffa500;
  padding: 25px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 5px #b2b2b2;
  font-size: 20px;
  font-family: arial;
}

.cohortButton:hover {background-color: #ec8806}

.cohortButton:active {
  background-color: #ec8806;
  box-shadow: 0 5px #b2b2b2;
  transform: translateY(4px);
}


/* quiz page: 1) actual quiz part including profile pic and "show me the answer button" */
#quiz {
  background-color: #ffffff;
  padding: 100px;
}

.profilePic {
  display: block;
  margin: auto;
  background-color: #fdd38b;
  padding: 10px;
  width: relative;
  height: 200px;
  border-radius: 5px;
  text-align: center;
}

/* edited to be "show me the answer" button*/
.readyButton {
  display: block;
  margin: auto;
  padding: 10px 10px;
  font-size: 20px;
  font-family: Arial;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #5b91e3;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #b2b2b2;
}

.readyButton:hover {background-color: #4e82d0}

.readyButton:active {
  background-color: #515151;
  box-shadow: 0 5px #b2b2b2;
  transform: translateY(4px);
}

/* quiz page - 2) answer part */

.studentName {
  font-family: Arial;
  text-align: center;
}

.answerCorrect {
  font-family: Arial;
  text-align: center;
}

.buttonContainer {
  display: block;
  text-align: center;
}

.gotItButton {
  width: 60px;
  height: 50px;
  background-color: #34b62f;
  color: white;
  font-family: Arial;
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #b2b2b2;
  margin-right: 10px;
}

.gotItButton:hover {background-color: #0a6707}

.gotItButton:active {
  background-color: #0a6707;
  box-shadow: 0 5px #b2b2b2;
  transform: translateY(4px);
}

.almostButton {
  width: 60px;
  height: 50px;
  background-color: #f2a208;
  color: white;
  font-family: Arial;
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #b2b2b2;
  margin-right: 10px;
}

.almostButton:hover {background-color: #cc7811}

.almostButton:active {
  background-color: #cc7811;
  box-shadow: 0 5px #b2b2b2;
  transform: translateY(4px);
}

.nopeButton {
  width: 60px;
  height: 50px;
  background-color: #c10b0b;
  color: white;
  font-family: Arial;
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #b2b2b2;
  margin-right: 10px;
}

.nopeButton:hover {background-color: #b03131}

.nopeButton:active {
  background-color: #b03131;
  box-shadow: 0 5px #b2b2b2;
  transform: translateY(4px);
}
