.answerCorrect {
  font-family: Arial;
  text-align: center;
}

.cohortButtonAndStatsContainer {
  margin-right: 30px;
}

.statBox {
  display: box;
  margin: auto;
  background-color: #ffffff;
  padding: 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: center;
  width: 40px;
  height: 10px;
  border-radius: 5px;
}


#quiz {
	background-color: #fefcf6;
	padding: 100px;
}

.profilePic {
  display: block;
  margin: auto;
	background-color: #fce1ad;
	padding: 25px;
	width: relative;
	height: 200px;
	border-radius: 20px;
	text-align: center;
}

.cohortButton {
  margin-right: 10px;
  background-color: #fb8f02;
  padding: 25px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 5px #b2b2b2;
  font-size: 20px;
}

.cohortButton:hover {background-color: #ec8806}

.cohortButton:active {
  background-color: #ec8806;
  box-shadow: 0 5px #b2b2b2;
  transform: translateY(4px);
}

.buttonContainer {
  display: block;
  text-align: center;
}

.readyButton {
  display: block;
  margin: auto;
  padding: 10px 10px;
  font-size: 20px;
  font-family: Arial;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #8aa5db;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #b2b2b2;
}

.readyButton:hover {background-color: #607399}

.readyButton:active {
  background-color: #515151;
  box-shadow: 0 5px #b2b2b2;
  transform: translateY(4px);
}

.studentName {
	font-family: Arial;
  text-align: center;
}

.cohortButtonContainer {
  margin-top: 100px;
  text-align: center;
}

.gotItButton {
  width: 60px;
  height: 50px;
	background-color: #34b62f;
	color: white;
	font-family: Arial;
	display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #b2b2b2;
  margin-right: 10px;
}

.gotItButton:hover {background-color: #0a6707}

.gotItButton:active {
  background-color: #0a6707;
  box-shadow: 0 5px #b2b2b2;
  transform: translateY(4px);
}

.almostButton {
  width: 60px;
  height: 50px;
	background-color: #f2a208;
	color: white;
	font-family: Arial;
	display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #b2b2b2;
  margin-right: 10px;
}

.almostButton:hover {background-color: #cc7811}

.almostButton:active {
  background-color: #cc7811;
  box-shadow: 0 5px #b2b2b2;
  transform: translateY(4px);
}

.nopeButton {
  width: 60px;
  height: 50px;
	background-color: #c10b0b;
	color: white;
	font-family: Arial;
	display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #b2b2b2;
  margin-right: 10px;
}

.nopeButton:hover {background-color: #b03131}

.nopeButton:active {
  background-color: #b03131;
  box-shadow: 0 5px #b2b2b2;
  transform: translateY(4px);
}

.redStat {
  margin-right: 10px;
  text-align: center;
  color: #34b62f;
}

.orangeStat {
  margin-right: 10px;
  text-align: center;
  color: #f2a208;
}

.greenStat {
  margin-right: 10px;
  text-align: center;
  color: #c10b0b;
}


.idk {
  text-align: center;
  margin: auto;
  float: center;
}